@media screen and (max-width: 2100px) and (min-width: 763px) {
  .normal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header {
    width: 100%;
    height: 10%;
    background: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
  }
  .center {
    width: 499px;
    height: 471px;
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%);
  }
  .center > p {
    width: 475px;
    height: 68px;
    line-height: 68px;
    font-size: 36px;
    text-align: center;
  }
  .center ul {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .center ul li {
    width: 108px;
    border-bottom: 2px solid #bbbbbb;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #bbbbbb;
  }
  .center ul .active {
    color: #3f51b5;
    border-bottom: 2px solid #3f51b5;
  }
  .center .inpbox p {
    width: 100%;
    height: 44px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .center .inpbox p span {
    font-size: 20px;
    margin-left: 20px;
    color: #666;
  }
  .center .inpbox p input {
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
    color: #ccc;
    text-indent: 20px;
  }
  .center .inpbox p .checkbox {
    width: 20px;
    height: 20px;
  }
  .center .inpbox .p {
    text-align: start;
    padding-left: 10%;
  }
  .inpbox button {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    background: #3f51b5;
    color: #fff;
    font-size: 21px;
    outline: none;
    margin-top: -50px;
  }
}
@media screen and (min-width: 375px) and (max-width: 763px) {
  .normal {
    width: 100%;
    height: 100%;
  }
  .header {
    width: 100%;
    height: 8%;
    background: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .center {
    width: 300px;
    height: 471px;
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%);
  }
  .center > p {
    width: 280px;
    height: 68px;
    line-height: 68px;
    font-size: 30px;
    text-align: center;
  }
  .center ul {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .center ul li {
    width: 108px;
    border-bottom: 2px solid #bbbbbb;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #bbbbbb;
  }
  .center ul .active {
    color: #3f51b5;
    border-bottom: 2px solid #3f51b5;
  }
  .center .inpbox p {
    width: 100%;
    height: 44px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .center .inpbox p span {
    font-size: 20px;
    margin-left: 20px;
    color: #666;
  }
  .center .inpbox p input {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    color: #ccc;
    text-indent: 20px;
  }
  .center .inpbox p .checkbox {
    width: 20px;
    height: 20px;
  }
  .center .inpbox .p {
    text-align: start;
    padding-left: 10%;
  }
  .center .inpbox .p>span{
    font-size: 18px
  }
  .inpbox button {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    background: #3f51b5;
    color: #fff;
    font-size: 21px;
    outline: none;
    margin-top: -50px;
  }
}
